<!DOCTYPE html>
<html>
	<head>
		<%= render :partial => "map_head", :object => @map %>
	</head>
	<body onload="initialize()">
		<%= render :partial => "map_div", :object => @map %>
		<div id="location_form">
			<% form_tag('/map', :method => :get) do %>
				<p>
					<%= text_field_tag :location, params[:location] %>
				</p>
				<p>
					<%= submit_tag "Show" %>
				</p>
			<% end %>
		</div>
	</body>
</html>
