<!DOCTYPE html>
<html>
	<head>
		<%= render :partial => "map_head", :object => @map %>
	</head>
	<body onload="initialize()">
		<%= render :partial => "map_div", :object => @map %>
		<%= render :partial => "location", :object => params[:location] %>
	</body>
</html>
